.hidden-column {
  display: none;
}

.standards-table th:nth-child(2),
.standards-table td:nth-child(2) {
  width: 40%; /* Adjust width for Full Statement column */
}

.standards-table th:nth-child(5),
.standards-table td:nth-child(5) {
  width: 40%; /* Adjust width for Notes column */
}

.standards-table tr {
  min-height: 1em; /* Adjust for minimum height of one line of text */
}

.editable-cell {
  min-height: 1em; /* Adjust for minimum height of editable cells */
  width: 100%;
}

.standards-table {
  font-size: 12px;
}
